@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: #171717;
  --color-card-foreground: #ededed;
  --color-popover: #171717;
  --color-popover-foreground: #ededed;
  --color-primary: #ededed;
  --color-primary-foreground: #171717;
  --color-secondary: #262626;
  --color-secondary-foreground: #ededed;
  --color-muted: #262626;
  --color-muted-foreground: #a3a3a3;
  --color-accent: #262626;
  --color-accent-foreground: #ededed;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #fafafa;
  --color-border: #262626;
  --color-input: #262626;
  --color-ring: #d4d4d4;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
